%h1 Edit User

= form_for :user, url: user_path(@user), method: :patch do |f|

  %p
    = f.label :name
    %br
    = f.text_field :name

  %p
    = f.label :phone_number
    %br
    = f.text_field :phone_number

  %p
    = f.submit

= link_to 'Back', users_path
